/* ==== Major fixes starts here ==== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
/* ==== Major fixes ends here ==== */

/* ==== first section starts here==== */


.firstsection{
    height: 87vh;
    display: flex;
    flex-direction: row;
}

.firstsection-leftdiv{
    padding-top: 20px;
    padding-left: 40px;
    width: 50%;
    height: 460px;
    background:  var(--gray-color);
    padding-right: 40px;

}

.firstsection-rightdiv{

    background: var(--linear-gradient), url("./images/image1.jpg");
    height: 460px;
    width: 50%;
    background-size: cover;
    background-position: bottom left;

}

.link-holder{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 20px 0;
}
.logo{
    margin-bottom: 30px;
}

span{
    color: tomato;
}

.line{
    background: var(--main-color);
    padding: 8px;
    width: 224px;
}
.headingwriteup{
    margin: 30px 0;
    /* border: 3px solid black;  */
}
/* ==== first section ends here==== */


/* ==== second section starts here==== */
/* ==== second section ends here==== */


/* ==== Third section starts here==== */
/* ==== Third section ends here==== */


/* ==== footer section starts here==== */
/* ==== footer section ends here==== */