/* ==== Major fixes starts here ==== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Inter', sans-serif;
}
/* ==== Major fixes ends here ==== */

/* ==== first section starts here==== */


.firstsection{
    height: 500px;
    display: flex;
    flex-direction: row;
}
.firstsection-leftdiv{
    padding-top: 20px;
    padding-left: 40px;
    width: 50%;
    height: 100%;
    background:  var(--gray-color);
    padding-right: 40px;

}

.firstsection-rightdiv{

    background: var(--linear-gradient), url("./images/image1.jpg");
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: bottom left;

}

.link-holder{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 20px 0;
}
.logo{
    margin-bottom: 30px;
}

span{
    color: tomato;
}

.line{
    background: var(--main-color);
    padding: 8px;
    width: 224px;
}
.headingwriteup{
    margin: 30px 0;
    /* border: 3px solid black;  */
}

/* ==== first section ends here==== */


/* ==== second section starts here==== */


.secondsection{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
    /* border: var(--blackborder); */
}

.secondsection-leftdiv{

    text-align: center;
    padding: 40px 20px;
    width: 310px;
    height: 400px;
    background: var(--gray-color);
}

.secondsection-leftdiv p{
    text-align: left;

    margin: 20px 0;
}

.secondsection-rightdiv{
    width: 340px;
    height: 460px;
    background: var(--main-color);
    margin-left: 20px;
}
/* ==== second section ends here==== */


/* ==== Third section starts here==== */
.thirdsection{
    /* border: var(--blackborder); */
    height: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.thirdsection-leftdiv{
    background: var(--gray-color);
    height: 460px;
    width: 340px;
}

.thirdsection-rightdiv{
background: var(--main-color) ;
height: 460px;
width: 340px;
padding: 40px 20px;
}

.thirdsection-rightdiv p{
    text-align: left;

    margin: 20px 0;
}
/* ==== Third section ends here==== */


/* ==== footer section starts here==== */

footer {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.footericoncontainer{
    text-align: center;
}
.iconholder{
    font-size: 20px;
    color: var(--white-color);
    margin: 0 5px;
}
.footericons{

    margin: 0 5px;
}
/* ==== footer section ends here==== */